PAGE_ACCESS_TOKEN=EAAKKvTH8u1EBAHKYrhzIqOpN3D2fq4khoSbnM3pQFqil8ZC9nfEkPMZBVAZC6yVy6vGGDt4a77jOYlMrv52JzxR2jF5vGkopyjD9TJqFj53nob6WZA52bgaTmiqS8yqip8hoXRLpFS8FMpbg6OZALhZCkCP6OGqhFlzdrzLdNNrAZDZD
SECURITY_TOKEN=megaADs1172IUYGVDFSDSSSF4545@$$fdxxx

DB_CONNECTION=mysql
DB_HOST=192.168.1.172
DB_PORT=3306
DB_DATABASE=chatbot
DB_USERNAME=root
DB_PASSWORD=123@123